In [32]:
import pandas as pd
df = pd.read_csv('heart.csv')
df.head()
df = df[df.RestingBP != 0]
df = df[df.Cholesterol != 0]
df.Oldpeak=df.Oldpeak*10
#making bins
agegrp= pd.cut(df.Age,bins=[20,29,39,49,59,69,79],labels=["20s","30s","40s","50s","60s","70s"])
df.insert(1,"Age_Group",agegrp)
rbp= pd.cut(df.RestingBP,bins=[0,119,129,139,1000],labels=["Normal","Elevated","High","Extreme"])
df.insert(5,"Blood_Pressure_Level",rbp)
op= pd.cut(df.Oldpeak,bins=[-10,20,1000],labels=["Normal","Risk"])
df.insert(12,"Oldpeak_Level",op)
mHR= pd.cut(df.MaxHR,bins=[60,79,99,119,139,159,179,199,219],labels=["60-79","80-99","100-119","120-139","140-159","160-179","180-199","200-220"])
df.insert(10,"Max_Heart_Rate",mHR)
ch= pd.cut(df.Cholesterol,bins=[0,199,240,1000],labels=["<200","200-240",">240"])
df.insert(7,"Cholestrol_levels",ch)

df.describe()
df=df[df.Sex=="M"]
df

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000
mean,53.102837,133.359929,241.040780,0.187943,138.040780,9.781915,0.560284
std,9.556603,16.842386,57.509194,0.391014,24.922903,10.968401,0.496793
min,28.000000,92.000000,85.000000,0.000000,69.000000,-1.000000,0.000000
25%,46.000000,120.000000,206.750000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,234.000000,0.000000,139.500000,8.000000,1.000000
75%,59.000000,140.000000,272.250000,0.000000,156.000000,18.000000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,56.000000,1.000000

In [4]:
pd.set_option('display.max_rows',None)

In [28]:
#BHAVISH CELL
table = pd.crosstab([df.ST_Slope,df.ChestPainType,df.Max_Heart_Rate],df.ExerciseAngina,normalize='index')
table

ExerciseAngina         N         Y
ST_Slope
Down            0.315789  0.684211
Flat            0.348592  0.651408
Up              0.851240  0.148760